/LiquorBottles-persistence/target/
/LiquorBottles-persistence/src/main/resources/META-INF/persistence.xml
/LiquorBottles-persistence/derby.log
/LiquorBottles-service/target/
/LiquorBottles-presentation/target/
/Lazaris/target/
/pa165-persistence-tut1/persistence-app/target/
/pa165-persistence-tut1/persistence-jpql/target/