<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <aop:aspectj-autoproxy/>
    
    <bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="emf" ref="entityManagerFactory" />
    </bean>
    <tx:annotation-driven transaction-manager="txManager" />
    
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true"/>
            <tx:method name=""/>
        </tx:attributes>
    </tx:advice>
    
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
    
    <!-- EntityManagerFactoryBean    -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="localDB" />  
    </bean>        
    
    <!-- DAO Beans    -->
    <bean id="producerDAO" class="muni.fi.pa165.liquorbottles.persistenceLayer.dao.impl.ProducerDAOImpl" >
        <property name="emf" ref="entityManagerFactory" />
    </bean>
    
    <bean id="policeDAO" class="muni.fi.pa165.liquorbottles.persistenceLayer.dao.impl.PoliceDAOImpl" >
        <property name="emf" ref="entityManagerFactory" />
    </bean>
    
    <bean id="storeDAO" class="muni.fi.pa165.liquorbottles.persistenceLayer.dao.impl.StoreDAOImpl" >
        <property name="emf" ref="entityManagerFactory" />
    </bean>
    
    <bean id="userDAO" class="muni.fi.pa165.liquorbottles.persistenceLayer.dao.impl.UserDAOImpl" >
        <property name="emf" ref="entityManagerFactory" />
    </bean>
    
    <bean id="bottleDAO" class="muni.fi.pa165.liquorbottles.persistenceLayer.dao.impl.BottleDAOImpl" >
        <property name="emf" ref="entityManagerFactory" />
    </bean>
    
    <bean id="bottleTypeDAO" class="muni.fi.pa165.liquorbottles.persistenceLayer.dao.impl.BottleTypeDAOImpl" >
        <property name="emf" ref="entityManagerFactory" />
    </bean>
    
    <!-- Service Beans    -->
    <bean id="producerServiceImpl" class="muni.fi.pa165.liquorbottles.service.services.impl.ProducerServiceImpl" >
        <property name="producerDao" ref="producerDAO" />
    </bean>
    
    <bean id="policeServiceImpl" class="muni.fi.pa165.liquorbottles.service.services.impl.PoliceServiceImpl">
        <property name="policeDAO" ref="policeDAO" />
    </bean>
    
    <bean id="storeServiceImpl" class="muni.fi.pa165.liquorbottles.service.services.impl.StoreServiceImpl">
        <property name="storeDAO" ref="storeDAO" />
    </bean>
    
    <bean id="userServiceImpl" class="muni.fi.pa165.liquorbottles.service.services.impl.UserServiceImpl">
        <property name="userDAO" ref="userDAO" />
    </bean>
    
    <bean id="bottleServiceImpl" class="muni.fi.pa165.liquorbottles.service.services.impl.BottleServiceImpl">
        <property name="bottleDAO" ref="bottleDAO" />
    </bean>
    
    <bean id="bottleTypeServiceImpl" class="muni.fi.pa165.liquorbottles.service.services.impl.BottleTypeServiceImpl">
        <property name="bottleTypeDAO" ref="bottleTypeDAO" />
    </bean>
    
    <!-- TODO: Split Beans into more XML files depending on logical content -->

</beans>
