<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
">  
      
    <!--________________________Spring configuration_________________________
   
   <aop:aspectj-autoproxy/>
   <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
    -->
    <context:component-scan base-package= "muni.fi.pa165.liquorbottles"/>
    
    <import resource="classpath:applicationContext.xml"/>

    <bean name="storeService" class="muni.fi.pa165.liquorbottles.service.services.impl.StoreServiceImpl" >
        <property name="storeDAO" ref="storeDAO" />
    </bean> 
    
    <bean name="bottleService" class="muni.fi.pa165.liquorbottles.service.services.impl.BottleServiceImpl" >
        <property name="bottleDAO" ref="bottleDAO" />
    </bean> 
    
    <!--<bean name="producerService" class="muni.fi.pa165.liquorbottles.service.services.impl.ProducerServiceImpl" >
        <property name="producerDAO" ref="producerDAO" />
    </bean>  -->
    
    <bean name="producerService" class="muni.fi.pa165.liquorbottles.service.services.impl.ProducerServiceImpl">
        <property name="producerDao" ref="producerDAO"/>   
        <property name="bottleTypeDao" ref="bottleTypeDAO"/> 
    </bean>
    
    <bean name="bottleTypeService" class="muni.fi.pa165.liquorbottles.service.services.impl.BottleTypeServiceImpl">
        <property name="bottleTypeDAO" ref="bottleTypeDAO"/>
    </bean>
    
    <bean name="policeService" class="muni.fi.pa165.liquorbottles.service.services.impl.PoliceServiceImpl">
        <property name="policeDAO" ref="policeDAO"/>
    </bean>
    
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.apache.derby.jdbc.ClientDriver" />
        <property name="url" value="jdbc:derby://localhost:1527/pa165" />
        <property name="username" value="pa165" />
        <property name="password" value="pa165" />
    </bean>
    
</beans>
