body {
    position: relative;
    background-color:#88C641;
    width:99%;
}

a{
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    font-size:1.2em;
}  
table{
    margin-left: 15%;
}
form {
    width: 50%;
    margin-left: 15%;
}

.menu{
    position: relative;
    width: 15%;
}