body {
    position: relative;
    background-color:#88C641;
    width:99%;
}

a{
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    font-size:1.1em;
}  
table{
    margin-left: 10%;
}

form {
    width: 50%;
    margin-left: 10%;
}

table.filter{
    float: left;
    margin-left: 1%;
}

p{
    margin-left: 2%;
}

.menu{
    position: relative;
    width: 15%;
}

.basic, tr, td, th.info{
    border-collapse: collapse;
    border: 1px solid black;
}

td, th{
    padding-left: 7px;
    padding-right: 4px;
}

.info{
    border-collapse: collapse;
    border: 1px solid black;
}